/**
 * Copyright 2022 Shiny Nematoda
 * For more details view LICENSE.md
 * 
 * - Nord Theme
 * 	 MIT License (MIT)
 *
 * 	 Copyright (C) 2016-present Arctic Ice Studio <development@arcticicestudio.com> (https://www.arcticicestudio.com)
 * 	 Copyright (C) 2016-present Sven Greb <development@svengreb.de> (https://www.svengreb.de)
 * 
 * - Bootstrap Icons
 * 	 MIT License (MIT)
 * 
 *	 Copyright (c) 2019-2021 The Bootstrap Authors
*/

:root {
	--sn-color-light: #ECEFF4;
	--sn-color-light-soft: #D8DEE9;
	--sn-color-gray: #AAAAAA;
	--sn-color-dark: #2E3440;
	--sn-color-dark-soft: #4C566A;

	--sn-bg: var(--sn-color-light);
	--sn-bg-soft: var(--sn-color-light-soft);
	--sn-text: var(--sn-color-dark);
	--sn-fg: var(--sn-color-dark-soft);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', 'Helvetica Neue', Roboto, sans-serif;
	transform-style: preserve-3d;
	transition: all .4s ease;
}

html,
body {
	color: var(--sn-text);
	background-color: var(--sn-bg);
	min-height: 100%;
}

body {
	padding: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3rem;
	letter-spacing: .5rem;
}

h2 {
	font-size: 2.5rem;
	letter-spacing: .25rem;
	text-align: center;
}

h3 {
	font-size: 2rem;
	letter-spacing: .25rem;
}

h4 {
	font-size: 1.5rem;
	letter-spacing: .125rem;
}

.fs-1 {
	font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.fs-1 {
	padding: .5rem 0;
	font-weight: 300;
}

h1,
h2,
.fs-1 {
	text-shadow: .25rem .25rem .5rem var(--sn-fg);
}

.cover {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img.bg {
	width: 100%;
	max-width: 800px;
	height: auto;
	border-radius: .25rem;
	box-shadow: .5rem .5rem 2rem var(--sn-color-gray);
}

img {
	transform-style: unset;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: .75rem 0;
}

a {
	color: var(--sn-text);
	text-decoration: none;
	padding: .5rem;
	transform-style: unset;
}

.content {
	padding: 5rem 0;
}

.card {
	margin: 0 auto;
	display: flex;
	aspect-ratio: 16/9;
	max-width: 600px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-color: var(--sn-bg-soft);
	padding: 3.75rem 4.5rem;
	border-radius: .25rem;
	box-shadow: .25rem .25rem 1rem var(--sn-color-gray);
}

.card img {
	margin-right: .75rem;
	height: 23%;
	min-height: 2.5rem;
	aspect-ratio: 1/1;
}

.card:hover {
	box-shadow: .5rem .5rem 2rem var(--sn-color-gray);
}

blockquote {
	font-size: 1.25rem;
	padding: 1rem;
	text-align: center;
	font-style: italic;
	line-height: 1.5rem;
	letter-spacing: .0625rem;
}

.popup {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: 5;
	box-sizing: content-box;
	transform: translateY(-100vh);
}

.popup:target {
	transform: translateY(0);
}

.popup-close {
	display: block;
	position: absolute;
	right: .75rem;
	top: .75rem;
}

.popup-box {
	padding: 2rem;
	padding-top: 3.5rem;
	max-width: 80%;
	border-radius: .25rem;
	box-shadow: 0 0 2rem var(--sn-color-gray);
	background-color: var(--sn-bg-soft);
}

pre {
	font-family: monospace;
	font-size: 1.25rem;
	padding: .5rem;
	border-radius: .25rem;
	white-space: pre-wrap;
	word-break: break-all;
	background-color: var(--sn-fg);
	color: var(--sn-bg-soft);
}

pre::selection {
	color: var(--sn-fg);
	background-color: var(--sn-bg-soft);
}

@media (max-width: 700px) {
	nav {
		justify-content: unset;
	}
}